name: Update Combined CODEOWNERS

on:
  workflow_dispatch:

jobs:
  update-codeowners:
    runs-on: ubuntu-latest
    steps:
    - name: Check out repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        fetch-depth: 0 # Necessary for the create-pull-request action

    - name: Combine CODEOWNERS Files
      uses: cbrgm/multiple-codeowners-action@main
      with:
        output: '.github/CODEOWNERS'

    - name: Create Pull Request
      uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8.1.0
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        branch: update-codeowners-${{ github.run_number }}
        commit-message: Update combined CODEOWNERS file
        title: "Update Combined CODEOWNERS"
        body: "This PR updates the combined CODEOWNERS file."
        draft: false

