name: Update Combined CODEOWNERS

on:
  workflow_dispatch:

jobs:
  update-codeowners:
    runs-on: ubuntu-latest
    steps:
    - name: Check out repository
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        fetch-depth: 0 # Necessary for the create-pull-request action

    - name: Combine CODEOWNERS Files
      uses: cbrgm/multiple-codeowners-action@main
      with:
        output: '.github/CODEOWNERS'

    - name: Create Pull Request
      uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8.0.0
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        branch: update-codeowners-${{ github.run_number }}
        commit-message: Update combined CODEOWNERS file
        title: "Update Combined CODEOWNERS"
        body: "This PR updates the combined CODEOWNERS file."
        draft: false

